In [35]:
import scipy.io as sio
import numpy as np
import pandas as pd

In [36]:
path = "C:\\Users\Lenio\Downloads\\"
files = ["Test-Jan-01-Jan-05.xlsx", "Test-Jul-01-Jul-05.xlsx"]

In [37]:
all_data = pd.DataFrame()

In [38]:
for f in files:
    full_path = path + f
    print(full_path)
    df = pd.read_excel(full_path)
    all_data = all_data.append(df,ignore_index=True)

C:\Users\Lenio\Downloads\Test-Jan-01-Jan-05.xlsx
C:\Users\Lenio\Downloads\Test-Jul-01-Jul-05.xlsx

In [39]:
all_data.head()

,Data,Phase A Current,Phase B Current,Phase C Current,Current Total,Power Factor,Frequency,Apparent Power,Active Power,Reactive Power,Power Production,Phase AB Voltage,Phase BC Voltage,Phase CA Voltage
0,2018-01-01 00:00:00,0.0363618,0.0334529,0.0378163,0.107631,Invalid Data,0,Invalid Data,0,Invalid Data,29800800,0,0,0
1,2018-01-01 00:00:30,0.0366239,0.033694,0.0380888,0.108407,Invalid Data,0,Invalid Data,0,Invalid Data,29800800,0,0,0
2,2018-01-01 00:01:00,0.0368859,0.033935,0.0383613,0.109182,Invalid Data,0,Invalid Data,0,Invalid Data,29800800,0,0,0
3,2018-01-01 00:01:30,0.037148,0.0341761,0.0386339,0.109958,Invalid Data,0,Invalid Data,0,Invalid Data,29800800,0,0,0
4,2018-01-01 00:02:00,0.03741,0.0344172,0.0389064,0.110734,Invalid Data,0,Invalid Data,0,Invalid Data,29800800,0,0,0

In [40]:
all_data.describe()

,Data,Phase A Current,Phase B Current,Phase C Current,Current Total,Power Factor,Frequency,Apparent Power,Active Power,Reactive Power,Power Production,Phase AB Voltage,Phase BC Voltage,Phase CA Voltage
count,28078,28078.0,28078.0,28078.0,28078.0,28078,28078.0,28078,28078.0,28078,28078.0,28078.0,28078.0,28078.0
unique,28078,25024.0,25016.0,25025.0,24671.0,12327,9310.0,13763,13753.0,11539,9141.0,13166.0,12654.0,12897.0
top,2018-01-01 07:46:00,0.0,0.0,0.0,0.0,Invalid Data,0.0,Invalid Data,0.0,Invalid Data,39203700.0,0.0,0.0,0.0
freq,1,2910.0,2892.0,2892.0,3260.0,14153,14129.0,14151,14129.0,14151,1702.0,14129.0,14129.0,14129.0
first,2018-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2018-07-05 22:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN