In [3]:
from scipy.io import loadmat
import pandas as pd

In [5]:
mat = loadmat('/Users/hannelita/Development/UNIFEI/dataset_pv_inverters/Inv1/Inv1x155x161x0.mat')

In [10]:
for key in mat.keys():
    print(key,' ', type(mat[key]))
print('*' * 79)

__header__   <class 'bytes'>
__version__   <class 'str'>
__globals__   <class 'list'>
IDC   <class 'numpy.ndarray'>
IL1   <class 'numpy.ndarray'>
IN   <class 'numpy.ndarray'>
UDC   <class 'numpy.ndarray'>
UL1   <class 'numpy.ndarray'>
UL1_Sim   <class 'numpy.ndarray'>
fS   <class 'numpy.ndarray'>
*******************************************************************************

In [13]:
mat = {k:v for k, v in mat.items() if k[0] != '_'}
data = pd.DataFrame({k: pd.Series(v[0]) for k, v in mat.items()})

In [14]:
data.head()

,IDC,IL1,IN,UDC,UL1,UL1_Sim,fS
0,11.587524,-27.365942,27.544117,398.706055,313.836029,312.583466,1000000.0
1,11.596680,-27.368994,27.571583,398.754883,313.848236,312.644501,NaN
2,11.598206,-27.379675,27.586842,398.730469,313.884857,312.717743,NaN
3,11.593628,-27.388830,27.583790,398.681641,313.945892,312.852020,NaN
4,11.603546,-27.397985,27.583790,398.779297,314.055756,312.900848,NaN